.title {
    color: rgb(135, 191, 226);
    font-weight: bolder;
}

.signup-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    -webkit-box-shadow: 20px 19px 28px -11px rgba(43,43,43,1);
    -moz-box-shadow: 20px 19px 28px -11px rgba(43,43,43,1);
    box-shadow: 20px 19px 28px -11px rgba(43,43,43,1);
    border-radius: 20px;
}

.signup-form input {
    font-size: 15px;
    margin: 8px;
    width: 350px;
    border-radius: 8px;
    border-color: white;
    background-color: rgb(237, 237, 237);
}

.signup {
    color: rgb(135, 191, 226);
    text-decoration: none;

}

.signup:hover {
    color: rgb(37, 126, 182);
}

.navigate {
    color: white;
}
.signup-page{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
@media screen and (min-width: 577px) and (max-width: 992px) {
    .signup-page {
        grid-template-columns: repeat(1, 1fr);
    }
}
.signup-pic{
    height: 400px;
    width: 400px;
    margin-top: 90px;
}