.review-div {
    height: 450px;
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: small;
    color: white;
    border-radius: 20px;
    background-color: rgb(135, 191, 226);
}

.review-img {
    height: 80px;
    width: 70px;
    border-radius: 100px;
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .review-div {
        width: 250px;
        /* margin-left: 50px; */
    }
}

@media screen and (max-width: 577px) {
    .review-div {
        width: 250px;
        margin-left: 50px;
    }
}