.card-body {
    height: 550px;
    background-color: rgb(135, 191, 226);
    color: white;
    border-radius: 10px;
    transition: all .5s linear;
}

.checkout-btn {
    color: black;
    border-radius: 8px;
    border: none;
}

.checkout-btn:hover {
    background-color: rgb(37, 126, 182);
    border: 1px solid rgb(255, 255, 255);
    color: white;
}

.break {
    border: 1px solid white;
}

.card-body:hover {
    background-color: black;
    transform: scale(1.1);
}