.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:576px) {
    .navigation {
        justify-content: space-between;
    }
}

.navbar {
    color: white;
    text-decoration: none;
    margin-right: 100px;
    /* margin-right: 5px; */
}

.navbar:hover {
    color: rgb(37, 126, 182);
}

.logo {
    height: 60px;
    width: 60px;
}

.signout-btn {
    background-color: rgb(135, 191, 226);
    color: white;
    border-radius: 8px;
}

.signout-btn:hover {
    background-color: rgb(37, 126, 182);
    border: 1px solid rgb(255, 255, 255);
}