.login-title {
    color: rgb(135, 191, 226);
    font-weight: bolder;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.login-form input {
    font-size: 15px;
    margin: 8px;
    width: 250px;
    border-radius: 8px;
    border-color: white;
    background-color: rgb(237, 237, 237);
}

.submit-btn {
    background-color: rgb(135, 191, 226);
    color: white;
    border-radius: 8px;
    width: 250px;
    margin: 8px;
}

.submit-btn:hover {
    background-color: rgb(37, 126, 182);
    border: 1px solid rgb(255, 255, 255);
}

.login {
    color: rgb(135, 191, 226);
    text-decoration: none;

}

.login:hover {
    color: rgb(37, 126, 182);
}

.navigate {
    color: white;
}