.about-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    background-color: rgb(135, 191, 226);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 3px;

}